{% extends 'testset/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>{{ test.title }}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Num of questions</td>
                    <td>{{ test.questions_count }}</td>
                  </tr>
                  <tr>
                    <td>Num of runs</td>
                    <td>{{ test.number_runs }}</td>
                  </tr>
                  <tr>
                    <td>Best result</td>
                    <td>{{ best_result }}
                    {% for best_result_user in best_result_users %}
                        <p>{{ best_result_user.username }}</p>
                    {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <td>Last run</td>
                    <td>{{ test.last_run }}</td>
                  </tr>
<!--                {% if not new %}-->
                  <tr>
                    <td>Current open run</td>
                    <td>{{ test_result.datetime_run }}</td>
                  </tr>
<!--                {% endif %}-->
                </tbody>
              </table>
        </div>
        <div class="col-sm">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle p-1 m-1" width="350" height="350"  src="{{ test.image.url }}">
                </div>

{#                {% if new %}#}
                    <div class="d-flex justify-content-center mt-5 mb-5" >
                        <a href="{% url 'testset:run_step' pk=test.id seq_nr=1 %}" type="button" class="btn-lg btn-success">START ▶️</a>
                    </div>
{#                {% else %}#}
{#                    <div class="d-flex justify-content-center mt-5 mb-5" >#}
{#                        <a href="{% url 'testset:run_step' pk=test.id seq_nr=testrun.last_question_number|add:1 %}" type="button" class="btn-lg btn-warning">CONTINUE️</a>#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
    </div>
</div>

{% endblock %}