DJANGO_SETTINGS_MODULE=app.settings.dev

# Django
SECRET_KEY=xxxx
NUM_WORKERS=xxxx
LOG_LEVEL=debug
PYTHONUNBUFFERED=TRUE

#Postgresql
DB_USER=xxxx
DB_PASS=xxxx
DB_HOST=xxxx
DB_NAME=xxxx
DB_PORT=xxxx

# Postgres superuser
POSTGRES_PASSWORD=xxxx

#Email
EMAIL_HOST_USER=xxxx
EMAIL_HOST_PASSWORD=xxxx
